.has_apf .blackdg, .listBP {
    /*background: rgb(58, 58, 58);*/
    background: rgb(49, 49, 49);
}

.debugcontainer .scroller{
    position : absolute;
    overflow-y : auto;
    overflow-x : hidden;
    top : 26px;
    left : 0;
    right : 0;
    bottom : 24px;
}

.panelsbuttonDown.debugger, .panelsbuttonDown.debugger:hover{
    border-bottom: 1px solid rgb(27, 27, 27);
    box-shadow: 1px -1px rgba(255,255,255,0.06) inset, 1px 0 rgba(255,255,255,0.06);
    padding-bottom: 7px;
}

.pause0 .icon{
    background-position : 0 0 !important;
}

.pause1 .icon{
    background-position : 0 -19px !important;
}

.pause2 .icon{
    background-position : 0 -38px !important;
}

.blackdg .tb_textbox{
    margin   : 0 0 0 0;
    height   : 18px;
    overflow : hidden;
    top      : 0;
}
.blackdg .treecell .tb_textbox{
    left : -3px;
    top : -1px;
}
.blackdg .tb_textbox .sbtb_middle{
    background : white;
    padding : 0;
    border : 0;
    box-shadow : 0px 0px 10px 1px rgba(0,0,0,0.5) inset;
    height : 18px;
}
.blackdg .tb_textbox .sbtb_middle input{
    color : #333;
    margin-top : -1px;
    padding : 1px 0 0 4px;
    font-family : Tahoma, Arial;
    font-size : 8pt;
    position : relative;
    top : -1px;
}
.blackdg .tb_textbox .sbtb_middle input::selection{
    background: #6c9700;
    color : #f1f1f1;
}
.blackdg .tb_textbox .sbtb_middle input::-moz-selection{
    background: #6c9700;
    color : #f1f1f1;
}

.blackdg .newwatch strong{
    display : none;
}
.has_apf .blackdg .records .newwatch .treecell u{
    padding : 1px 0 3px 0 !important;
    background-position : -200px !important;
    text-indent : 4px;
    color : #999;
}
.blackdgFocus .newwatch.selected .treecell u{
    color : #b7c594 !important;
}
.has_apf .blackdg .records .watcherror u{
    color : yellow;
}

.condition_dialog{
    border-radius: 5px;
    
    background: -moz-linear-gradient(top,  #3993d3 0%, #1f73ac 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top,  #3993d3 0%,#1f73ac 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  #3993d3 0%,#1f73ac 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3993d3 0%,#1f73ac 100%); /* W3C */
    
    padding : 5px 5px 3px 5px;
    font-family : Arial;
    font-size : 12px;
    width : 450px;
    
    position: absolute;
    display : none;
    z-index : 1000000;
    box-shadow : 2px 2px 8px rgba(0,0,0,0.3);
}

.condition_dialog div{
    color : #f1f1f1;
    margin : 0 0 3px 0;
}

.condition_dialog input{
    border: 0;
    width: 441px;
    padding: 4px 3px 4px 6px;
    outline: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3) inset;
    color: #333;
    border-radius: 3px;
}

.condition_dialog .arrow{
    border: 7px inset blue;
    display: block;
    border-color: transparent transparent #3993d3 transparent;
    position: absolute;
    left: 3px;
    top: -14px;
}

.liveinspect {
    box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.7);
    z-index : 100000;
    background-color: rgb(42, 43, 35);
    position: absolute;
    cursor: auto;
    padding: 1px 6px 1px 1px;
    font-size: 11px;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin : 1px 0 0 -1px;
    max-height : 150px;
    overflow : auto;
    max-width : 800px;
    margin-right : 50px;
}

.liveinspect .return{
    border-bottom : 0;
}
.liveinspect.immediate .null{
    color : rgb(200,200,200);
}